@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  #home {
    background-image: url('https://images2.alphacoders.com/719/719970.jpg');
    min-width: 100vw;
  }

  .accord{
    padding: 0rem 2rem;
    margin: 2rem 0rem;
  }

  #navbar{
    position: absolute;
    top: 0;
    min-width: 100vw;
    background-color: transparent;
  }

  #navbar:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }

  .acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .pt-mono-regular {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  #reports {
    background-image: url('https://images2.alphacoders.com/719/719970.jpg');
    min-width: 100vw;
    min-height: 100vh;
  }

  #report {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem 10rem;
    min-width: 80vw;
    border-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  #reports-accord {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .reports-accord:hover{
    text-decoration: none;
    color: rgb(106, 233, 245);
  }

  .accord-content:hover {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
  }

  .accord-content:hover a{
    color: rgb(2, 71, 71);
  }

  .accord-content a{
    color: rgb(146, 247, 247);
  }

  #sidebar {
    background-color: rgba(255, 251, 251, 0.75);
    color: black;
  }

  .sidebar-item:hover {
    color: white;
  }

  #dash {
    padding-top: 5rem;
    background-color: rgba(0, 0, 0, 0.75);

  }

  #resource-main {
    background-color: rgba(255, 251, 251, 0.75);
  }

  #resources {
    background-image: url('https://images2.alphacoders.com/719/719970.jpg');
    min-width: 100vw;
    min-height: 100vh;
  }

  #notifs {
    margin-left: 1.5rem;
  }

  #notif-card {
    background-color: rgba(255, 251, 251, 0.75);
    margin-left: 1rem;
  }

  /* .car-item {
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;
  } */

  #resource-car {
     width: 90%;
     margin-left: 3rem;
  }

  .car-content {
    background-color: rgba(255, 251, 251, 0.75);
  }

  #third-row {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
  }

  #report-body {
    min-width: 100%;
    background-color: rgba(255, 251, 251, 0.75);
    border: solid;
  }

  #report-card {
    min-width: 60%;
  }

  /* .trans {
    background-color: rgba(255, 251, 251, 0.75);
  } */